<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sinodata.business.dao.ConfigServiceManageDao">

	<resultMap id="BaseResultMap" type="net.sinodata.business.entity.ConfigServiceManage">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<id column="CONSUMER" property="consumer" jdbcType="VARCHAR" />
		<id column="CONSUMER_NAME" property="consumerName" jdbcType="VARCHAR" />
		<id column="YYBS" property="yybs" jdbcType="VARCHAR" />
		<id column="YYMC" property="yymc" jdbcType="VARCHAR" />
		<id column="FWBS" property="fwbs" jdbcType="VARCHAR" />
		<id column="FWMC" property="fwmc" jdbcType="VARCHAR" />
		<id column="FFBS" property="ffbs" jdbcType="VARCHAR" />
		<id column="FFMC" property="ffmc" jdbcType="VARCHAR" />
		<id column="FFMS" property="ffms" jdbcType="VARCHAR" />
		<id column="CONCURRENCY" property="concurrency" jdbcType="VARCHAR" />
		<id column="WAIT_TIME" property="waitTime" jdbcType="VARCHAR" />
		<id column="SERVICE_LEVEL" property="serviceLevel" jdbcType="VARCHAR" />
		<id column="ENABLED" property="enabled" jdbcType="VARCHAR" />
		<id column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<id column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryListByPage" resultMap="BaseResultMap" parameterType="map">
		select * from (
		select k.*, rownum rnum from
		(
		select cat.id,cat.consumer,d.fwcyf_yyxtmc as consumer_name,
		c.fwcyf_yyxtbh as yybs,c.fwcyf_yyxtmc as yymc,cat.fwbs,
		b.fwmc,cat.ffbs,a.ffmc,a.ffms,cat.concurrency,cat.wait_time,
		cat.service_level,cat.enabled,cat.create_time,cat.update_time
		from config_service_manage cat
		left join fwzyffzcb a on cat.ffbs = a.ffbs and cat.fwbs = a.fwbs
		left join fwzyzcb b on cat.fwbs = b.fwbs
		left join fwcyfzcb c on b.fwtgz_yyxtbh = c.fwcyf_yyxtbh
		left join fwcyfzcb d on cat.consumer = d.fwcyf_yyxtbh
		where 1 = 1
		<if test="consumer!=null"> and cat.consumer like '%${consumer}%'</if>
		<if test="consumerName!=null"> and d.fwcyf_yyxtmc like '%${consumerName}%'</if>
		<if test="yybs!=null"> and c.fwcyf_yyxtbh like '%${yybs}%'</if>
		<if test="yymc!=null"> and c.fwcyf_yyxtmc like '%${yymc}%'</if>
		<if test="fwbs!=null"> and cat.fwbs like '%${fwbs}%'</if>
		<if test="fwmc!=null"> and b.fwmc like '%${fwmc}%'</if>
		<if test="ffbs!=null"> and cat.ffbs like '%${ffbs}%'</if>
		<if test="ffmc!=null"> and a.ffmc like '%${ffmc}%'</if>
		order by cat.create_time desc
		) k
		where rownum &lt;= #{end}
		)
		where rnum &gt; #{start}
	</select>

	<select id="queryListCountByPage" resultType="int" parameterType="map">
		select count(1) from config_service_manage cat
		left join fwzyffzcb a on cat.ffbs = a.ffbs and cat.fwbs = a.fwbs
		left join fwzyzcb b on cat.fwbs = b.fwbs
		left join fwcyfzcb c on b.fwtgz_yyxtbh = c.fwcyf_yyxtbh
		left join fwcyfzcb d on cat.consumer = d.fwcyf_yyxtbh
		where 1 = 1
		<if test="consumer!=null"> and cat.consumer like '%${consumer}%'</if>
		<if test="consumerName!=null"> and d.fwcyf_yyxtmc like '%${consumerName}%'</if>
		<if test="yybs!=null"> and c.fwcyf_yyxtbh like '%${yybs}%'</if>
		<if test="yymc!=null"> and c.fwcyf_yyxtmc like '%${yymc}%'</if>
		<if test="fwbs!=null"> and cat.fwbs like '%${fwbs}%'</if>
		<if test="fwmc!=null"> and b.fwmc like '%${fwmc}%'</if>
		<if test="ffbs!=null"> and cat.ffbs like '%${ffbs}%'</if>
		<if test="ffmc!=null"> and a.ffmc like '%${ffmc}%'</if>
	</select>
	
	<insert id="insertSelective" parameterType="net.sinodata.business.entity.ConfigServiceManage">
		insert into config_service_manage(ID,CONSUMER,FWBS,FFBS,CONCURRENCY,
			WAIT_TIME,SERVICE_LEVEL,ENABLED,CREATE_TIME) values
		(#{id,jdbcType=VARCHAR},#{consumer,jdbcType=VARCHAR},#{fwbs,jdbcType=VARCHAR},
		#{ffbs,jdbcType=VARCHAR},#{concurrency,jdbcType=VARCHAR},#{waitTime,jdbcType=VARCHAR},
		#{serviceLevel,jdbcType=VARCHAR},#{enabled,jdbcType=VARCHAR},#{createTime,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="net.sinodata.business.entity.ConfigServiceManage">
		update config_service_manage set
		consumer=#{consumer,jdbcType=VARCHAR},fwbs=#{fwbs,jdbcType=VARCHAR},
		ffbs=#{ffbs,jdbcType=VARCHAR},concurrency=#{concurrency,jdbcType=VARCHAR},
		wait_time=#{waitTime,jdbcType=VARCHAR},service_level=#{serviceLevel,jdbcType=VARCHAR},
		enabled=#{enabled,jdbcType=VARCHAR},update_time=#{updateTime,jdbcType=VARCHAR}
		where id=#{id,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="string">
		delete from config_service_manage where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<update id="updateStatus" parameterType="string">
		update config_service_manage set
		enabled=#{enabled,jdbcType=VARCHAR},update_time=#{updateTime,jdbcType=VARCHAR}
		where id=#{id,jdbcType=VARCHAR}
	</update>

</mapper>