<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sinodata.business.dao.FwqqzdbDao" >
  <resultMap id="BaseResultMap" type="net.sinodata.business.entity.Fwqqzdb" >
  	<result column="ZDM" property="zdm" jdbcType="VARCHAR" />
  	<result column="ZDMS" property="zdms" jdbcType="VARCHAR" />
  	<result column="BZ" property="bz" jdbcType="VARCHAR" />
  	<result column="ISUSE" property="isuse" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getList" resultMap="BaseResultMap" parameterType="String">
  	select * from fwqqzdb
  	<if test="status!=null">
  		where isuse=#{status,jdbcType=VARCHAR}
  	</if>
  </select>
  
  <select id="getFwqqzdb" resultMap="BaseResultMap" parameterType="String">
  	select * from fwqqzdb where zdm=#{zdm,jdbcType=VARCHAR}
  </select>
  
  <update id="updateFwqqzdb">
  	update fwqqzdb set zdms=#{zdms,jdbcType=VARCHAR},bz=#{bz,jdbcType=VARCHAR},isuse=#{isuse,jdbcType=VARCHAR}
  	where zdm=#{zdm,jdbcType=VARCHAR}
  </update>
  
  <select id="getResourceList" resultType="java.util.Map" parameterType="java.lang.String">
  	select RESOURCEID as "resourceId",
	REGIONALISMCODE as "resourceRegionalismCode",
	NETWORKAREACODE as "resourceProxyType",RESOURCEINTERFACEADDRESS as "resourceAddress"  from ZYJKXX t
<!-- 	<if test="appCredential!=null"> where isuse=#{status,jdbcType=VARCHAR} </if> -->
  </select>
  
 </mapper>
