<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sinodata.esb.dao.EsbVarSystemDao" >
  <resultMap id="BaseResultMap" type="net.sinodata.esb.entity.EsbVarSystem" >
  	<result column="VAR_ID" property="varId" jdbcType="VARCHAR" />
  	<result column="VAR_NAME" property="varName" jdbcType="VARCHAR" />
  	<result column="VAR_VALUE" property="varValue" jdbcType="VARCHAR" />
  	<result column="VAR_DESC" property="varDesc" jdbcType="VARCHAR" />
  	<result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
  	<result column="STREAM_NUM" property="streamNum" jdbcType="VARCHAR"/>
  </resultMap>
  
  <select id="queryList" resultMap="BaseResultMap" parameterType="Map">
  	select var_id,var_name,var_value,var_desc,to_char(modify_time,'yyyy-mm-dd hh24:mi:ss') modify_time,(select count(distinct p_id) from esb_var_relation where var_id=e.var_id)||'' stream_num 
  	from (select t.*,rownum rnum from esb_var_system t where 1=1 
  	<if test="varName!=null and varName!=''">
  		and var_name like '%${varName}%'
  	</if>
  	 and rownum &lt;=#{end}
  	) e where rnum &gt; #{start}
  </select>
  
  <select id="queryCountList" resultType="int" parameterType="Map">
  	select count(*) num from esb_var_system t where 1=1 
  	<if test="varName!=null and varName!=''">
  		and var_name like '%${varName}%'
  	</if>
  </select>
  
  <insert id="insert">
  	insert into esb_var_system(VAR_ID,VAR_NAME,VAR_VALUE,VAR_DESC,MODIFY_TIME) 
  	values(#{varId,jdbcType=VARCHAR},
  	#{varName,jdbcType=VARCHAR},
  	#{varValue,jdbcType=VARCHAR},
  	#{varDesc,jdbcType=VARCHAR},
  	systimestamp)
  </insert>
  
  <update id="update">
  	update esb_var_system set
  		VAR_VALUE=#{varValue,jdbcType=VARCHAR},
  		VAR_DESC=#{varDesc,jdbcType=VARCHAR},
  		MODIFY_TIME=systimestamp 
  	where VAR_ID=#{varId,jdbcType=VARCHAR}
  </update>
  
  <delete id="delete">
  	delete from esb_var_system where var_id=#{varId,jdbcType=VARCHAR}
  </delete>
  
  <select id="queryStreamCount" resultType="int">
  	select count(distinct p_id) streamNum from esb_var_relation where var_id=#{varId,jdbcType=VARCHAR}
  </select>
  
  <select id="queryStreamByVarId" resultMap="BaseResultMap">
  	select * from esb_var_relation where var_id=#{varId,jdbcType=VARCHAR}
  </select>
  
  
</mapper>